*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
    color: #ffffff;
}
h2{
    font-family: 'Mate SC';font-size: 32px;
}
h3{
    font-family: 'Margarine';font-size: 28px;
}
p{
    font-family: 'Libre Caslon Display';font-size: 18px;
}
h5{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}


#navigation{
   background-color:#1b1d1e ;
   color: #ffffff;
}
#home{
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.container{
    padding: 0.5rem;
}
.navbar-brand{
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}
.navbar-brand:hover{
    background-color: #ffffff;
    color: #ffffff;
}
.nav-link{
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.nav-link:hover{
    color: #ffffff;
}
.nav-link::before
{
    color: #ffffff;
}
.nav-link::after{
    color: #1b1d1e;
}
#photo{
    background-color:#1b1d1e;
}
.mohd{
    color: #ffffff;
    font-family:'Times New Roman', Times, serif
}

.welcome{
    color: #ffffff;
    font-size: 12px;
    font-family:'Times New Roman', Times, serif;
}
.career{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
     border-radius: 20px; 
    border: 1 solid rgb(60, 35, 35);
    
}
.service-head h2{
    font-family: 'Cherry Cream Soda';font-size: 35px;
    /* font-family: 'Alegreya Sans SC';font-size: 35px; */

    text-align: center;
    color: #000000;
    padding: 1.5rem;
}
.service-head h5{
    font-family: 'sofia';
    color: #000000;
    text-align: center;
    padding: 0.5rem; 
}
.service-head {
     background: #ffffff;
     margin-left: 2rem; 
     margin-right: 2rem; 
} 
#busi{
    background: #082a3a;
    color: #ffffff;
}
#perso{
    background: linear-gradient(to right top, #271820, #231921, #1f1922, #1b1a21, #191a1f, #181b20, #171d21, #161e22, #142125, #112427, #0e2728, #0c2a28);
     /* background-color: #000000 ;  */
    color: #ffffff;
}
#ecom{
    background-color:#082a3a;
    color: #ffffff;
}
#mobile{
    background: linear-gradient(to right top, #271820, #231921, #1f1922, #1b1a21, #191a1f, #181b20, #171d21, #161e22, #142125, #112427, #0e2728, #0c2a28);
    /* background-color:  #000000; */
    color: #ffffff;
}
.img{ 
    height: 40vh; 
}
#projects img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
a:hover{
    color: red;
}
.row{
    background-color: B2A4FF;
}
.card2{
    background-color: #623027;   
}
.card{
    /* background: linear-gradient(to right, #1F6CAB 100%, #9BC5C3 5%); */
    padding: 2rem;
    color: white;
}
    

.cards{
    background: linear-gradient(to right top, #271820, #231921, #1f1922, #1b1a21, #191a1f, #181b20, #171d21, #161e22, #142125, #112427, #0e2728, #0c2a28);
   /* background-color:#1b1d1e ; */
    border: 2px solid #000000;
    color: #ffffff;
    padding: 1rem;
}
 
.project-head h1{
    font-family: 'Cherry Cream Soda';font-size: 35px;
    text-align: center;
    color: #000000;
  }
  .tindog{
     background: url(./image/tin.jpg);
      background-repeat: no-repeat;
     width: 800px;  
     height: 30vh; 
  }
.About{
    background: linear-gradient(to right top, #271820, #231921, #1f1922, #1b1a21, #191a1f, #181b20, #171d21, #161e22, #142125, #112427, #0e2728, #0c2a28);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   /* background-color:#1b1d1e ; */
    color: #ffffff;
    text-align: center;
    padding: 4rem;
    word-spacing: 0.5rem;
}

.About h1{
    font-family: 'Cherry Cream Soda';font-size: 35px;
}

.contact{  
    font-family: 'Cherry Cream Soda';font-size: 35px;  
    padding: 5rem; 
    color: #000000;
    text-align: center; 
    /* border: 3px solid black; */
}
.icon{
    color: #ffffff;
    padding: 1rem;
}
.icon:hover{
    color:red;
}
.foot{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right top, #271820, #231921, #1f1922, #1b1a21, #191a1f, #181b20, #171d21, #161e22, #142125, #112427, #0e2728, #0c2a28);
    color: #ffffff;
    text-align: center;
    height: 30vh;
}
.contact p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    margin: 1rem;
    word-wrap: break-word;
 }


  /* @media only screen and (max-width: 400px) {
    .contact p{
font-size: 0.8rem;
    }
  } */